<div id="content" class="content sell-insure">
<div class="container wal">
  <%= form_for @sell_insure, :url => :process_completed_appraisal, :method => :post, :html => { :multipart => true } do |f| %>
  <div class="welcome frt">
    <div class="row">
      <div class="col-md-10">
        <div class="hel">
          <h2 class="left-1">Sell - Insure - Pawn - Repair</h2>
          <div class="clear"></div>
        </div>
        <p>Thank you for your interest in one of our value-added services. We would like to help you route your contact information to a specialist who can help you with the sale of your personal property. Please fill out the information below and we will send your request along with a copy of your appraisal report to a specialist in your area. </p>
        <div class="sell-form">
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-right">
                <label for="Name">Name :</label>
              </div>
              <div class="col-md-8">
                <%= f.text_field :customer_name, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 text-right">
                <label for="email">Email :</label>
              </div>
              <div class="col-md-8">
                <%= f.text_field :email, class: 'form-control' %>
              </div>
            </ </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4 text-right">
            <label for="phone">Phone Number : </label>
          </div>
          <div class="col-md-8">
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
        </ </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="phone">Message :</label>
      </div>
      <div class="col-md-8">
        <%= f.text_area :message, :class => "form-control", :rows => "5"%>
        <p class="sel-tex"> Anything  you want to tell us about your personal property?</p>
      </div>
    </div>
</div>
</div>


<div class="form-group">
  <div class="row">

    <div class="col-md-4">

    </div>
    <div class="col-md-8">
      <div class="radio">
        <%= radio_button_tag :email_phone, "0" %> <%= f.label :email_phone, "Please contact me by email only:" %>

      </div>
      <div class="radio">
        <%= radio_button_tag :email_phone, "1" %> <%= f.label :email_phone, "Please contact me by phone only:" %>
      </div>
      <div class="radio">
        <%= radio_button_tag :email_phone, "2" %> <%= f.label :email_phone, "Please contact me by phone or email:" %>
        </label>
      </div>
      <div class="radio">
        <input type="radio" class="css-checkbox" name="optionsRadios" id="approve_sending" value="option1" unchecked>
        <label for="optionsRadios4" class="css-label radGroup2">
 <span>  I understand that a copy of my appraisal<br/>  report
will be sent to a ValueThisNow <br/> value-added partner
for evaluation and I approve. </span>
        </label>
      </div>
    </div>
  </div>
</div>
      <%= hidden_field_tag 'button_clicked', @button_clicked %>
<div class="my-self">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'report.png', alt: "paypal" %>
    </div>
    <div class="col-md-6">
      <div class="last-self">
        <p>Please place this text into the box: Thank you for you choosing <a href="index.html">ValueThisNow.com</a> value-added services. Our site offers customers a convenient way to sell, pawn, insure or repair a wide variety of antiques, collectibles and memorabilia through one of our value-added partners. Our firm offers no guarantee of any kind from our partners. The amount of money you are offered from a buyer or pawn shop, or the amount you may be charged by an insurance agent or a repair service is strictly between you (the owner) and our value-added partner. By clicking on the box below, you agree to indemnify <a href="index.html">ValueThisNow.com</a> from any and all responsibility and liability arising from the transportation, sale, storage, repair or insurance coverage services that you elect to receive.
        </p>
      </div>
      <div class="sel-ref">
        <div class="checkbox">
          <input type="checkbox" class="css-checkbox" name="optionsRadios" id="check1" value="check1" unchecked>
          <label for="check1" class="css-label radGroup2">
            <span> By clicking on the box your agree to the above statement: </span>
          </label>
        </div>
      </div>
      <div class="frien">
        <%= link_to show_shared_path(@appraisal, :format => :pdf, :full => "no"), :class => "pull-right sel-send" do %>Print Friendly<% end %>
        <div class="clear"></div>
      </div>
      <%= f.submit "Submit", :class => "pull-right sel-send", :id => "btnSellInsure"%>
      <div class="clear"></div>
    </div>
  </div>
</div>
</div>
<% end %>
</div>
</div>
</div>