<div class="container">
  <div class="login">
    <h2>Categories</h2>
    <div class="cata">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-5"><%= image_tag 'left-1.png', alt: "left" %></div>
            <div class="col-md-7">
              <div class="nit">
                <p>With over a hundred appraisers in our network, ValueThisNow.com ensures the highest quality appraisals by having more experts covering more categories than any other online resource you will find on the Internet today. From action figures to Zimbabwe tribal art, we have an expert covering that category. We even cover very unusual categories such as vintage TV's, scientific instruments, rocks & fossils and so much more. And although we specialize in antiques, Collectibles and memorabilia, rest assured that our large team of experts can value virtually any type of personal property you might have.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="cat-top">
                <p>ValueThisNow corn appraisal results are 100% compliant wth the Uniform Standards of Professional Appraisal Practice (USPAP)—the only nationally recognized appraisal standard in the US  </p>
                <div class="car">
                  <ul>
                    <li><%= image_tag 'Value-Icon/1.png', alt: "Automobiles" %><span>Automobiles</span></li>
                    <li><%= image_tag 'Value-Icon/2.png', alt: "Cameras & Camera Equipment" %><span>Cameras & Camera Equipment</span></li>
                    <li><%= image_tag 'Value-Icon/3.png', alt: "Canadian Art" %><span>Canadian Art</span></li>
                    <li><%= image_tag 'Value-Icon/4.png', alt: "Circus Memorbillia" %><span>Circus Memorbillia</span></li>
                    <li><%= image_tag 'Value-Icon/5.png', alt: "Horse-Drawn Vehicles" %><span>Horse-Drawn Vehicles </span></li>
                  </ul>


                  <ul>
                    <li><%= image_tag 'Value-Icon/6.png', alt: "Arms & Armor" %> <span>Arms & Armor</span></li>
                    <li><%= image_tag 'Value-Icon/7.png', alt: "Music Boxes" %><span>Music Boxes</span></li>
                    <li><%= image_tag 'Value-Icon/8.png', alt: "Music Memorbillia" %><span>Music Memorbillia</span></li>
                    <li><%= image_tag 'Value-Icon/9.png', alt: "Musical Instruments" %><span>Musical Instruments</span></li>
                  </ul>
                  <ul>
                    <li><%= image_tag 'Value-Icon/11.png', alt: "Musical Instruments" %> <span>Orientalia</span></li>
                    <li><%= image_tag 'Value-Icon/12.png', alt: "Musical Instruments" %><span>Paper Ephemera (calendars, letters, flyers)</span></li>
                    <li><%= image_tag 'Value-Icon/13.png', alt: "Musical Instruments" %><span>Paperweights</span></li>
                    <li><%= image_tag 'Value-Icon/14.png', alt: "Musical Instruments" %><span>Telephones</span></li>
                    <li><%= image_tag 'Value-Icon/15.png', alt: "Musical Instruments" %><span>Phonographs</span></li>
                  </ul>

                  <ul>
                    <li><%= image_tag 'Value-Icon/16.png', alt: "Musical Instruments" %> <span>Political Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/17.png', alt: "Musical Instruments" %><span>Postcards</span></li>
                    <li><%= image_tag 'Value-Icon/18.png', alt: "Musical Instruments" %><span>Radios</span></li>
                    <li><%= image_tag 'Value-Icon/19.png', alt: "Musical Instruments" %><span>Records</span></li>
                    <li><%= image_tag 'Value-Icon/20.png', alt: "Musical Instruments" %><span>Rocks & Fossils</span></li>

                  </ul>
                  <ul>
                    <li><%= image_tag 'Value-Icon/21.png', alt: "Musical Instruments" %> <span>Salt & Pepper Shakers</span></li>
                    <li><%= image_tag 'Value-Icon/22.png', alt: "Musical Instruments" %><span>Sewing Machine Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/23.png', alt: "Musical Instruments" %><span>Smoking Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/24.png', alt: "Musical Instruments" %><span>Soft Drink Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/25.png', alt: "Musical Instruments" %><span>Sports Collectibles</span></li>
                  </ul>


                  <ul>
                    <li><%= image_tag 'Value-Icon/26.png', alt: "Musical Instruments" %> <span>Stained Glass</span></li>
                    <li><%= image_tag 'Value-Icon/27.png', alt: "Musical Instruments" %><span>Stamps</span></li>
                    <li><%= image_tag 'Value-Icon/28.png', alt: "Musical Instruments" %><span>Steins</span></li>
                    <li><%= image_tag 'Value-Icon/29.png', alt: "Musical Instruments" %><span>Sterling Silver</span></li>
                    <li><%= image_tag 'Value-Icon/30.png', alt: "Musical Instruments" %><span>Stock & Bonds</span></li>

                  </ul>


                  <ul>
                    <li><%= image_tag 'Value-Icon/31.png', alt: "Musical Instruments" %> <span>Taxidermy</span></li>
                    <li><%= image_tag 'Value-Icon/32.png', alt: "Musical Instruments" %><span>Textiles</span></li>
                    <li><%= image_tag 'Value-Icon/33.png', alt: "Musical Instruments" %><span>Tiffany</span></li>
                    <li><%= image_tag 'Value-Icon/34.png', alt: "Musical Instruments" %><span>Tools</span></li>
                    <li><%= image_tag 'Value-Icon/35.png', alt: "Musical Instruments" %><span>Marbles</span></li>

                  </ul>
                  <ul>
                    <li><%= image_tag 'Value-Icon/36.png', alt: "Musical Instruments" %> <span>Toys</span></li>
                    <li><%= image_tag 'Value-Icon/37.png', alt: "Musical Instruments" %>><span>Trading Cards</span></li>
                    <li><%= image_tag 'Value-Icon/38.png', alt: "Musical Instruments" %><span>Circus memorabilila</span></li>
                    <li><%= image_tag 'Value-Icon/39.png', alt: "Musical Instruments" %><span>Transportation Memorbillia</span></li>
                    <li><%= image_tag 'Value-Icon/40.png', alt: "Musical Instruments" %><span>Video Games</span></li>
                  </ul>
                  <ul>
                    <li><%= image_tag 'Value-Icon/41.png', alt: "Musical Instruments" %> <span>Vintage TV's</span></li>
                    <li><%= image_tag 'Value-Icon/42.png', alt: "Musical Instruments" %><span>Watches</span></li>
                    <li><%= image_tag 'Value-Icon/43.png', alt: "Musical Instruments" %><span>Wines</span></li>
                    <li><%= image_tag 'Value-Icon/44.png', alt: "Musical Instruments" %><span>Foriegn Coins</span></li>
                    <li><%= image_tag 'Value-Icon/45.png', alt: "Musical Instruments" %><span>Comic Books</span></li>
                  </ul>

                  <ul>
                    <li><%= image_tag 'Value-Icon/46.png', alt: "Musical Instruments" %> <span>Cowboy Heroes</span></li>
                    <li><%= image_tag 'Value-Icon/47.png', alt: "Musical Instruments" %><span>Cuff Links</span></li>
                    <li><%= image_tag 'Value-Icon/48.png', alt: "Musical Instruments" %><span>Dairy Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/49.png', alt: "Musical Instruments" %><span>Decorative Arts</span></li>
                    <li><%= image_tag 'Value-Icon/50.png', alt: "Musical Instruments" %><span>Diecast & toy vehicles</span></li>

                  </ul>


                  <ul>
                    <li><%= image_tag 'Value-Icon/51.png', alt: "Musical Instruments" %> <span>Bears</span></li>
                    <li><%= image_tag 'Value-Icon/52.png', alt: "Musical Instruments" %><span>Billiard Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/53.png', alt: "Musical Instruments" %><span>Books</span></li>
                    <li><%= image_tag 'Value-Icon/54.png', alt: "Musical Instruments" %><span>Bottles</span></li>
                    <li><%= image_tag 'Value-Icon/55.png', alt: "Musical Instruments" %><span>Casino Collectibles</span></li>

                  </ul>


                  <ul>
                    <li><%= image_tag 'Value-Icon/56.png', alt: "Musical Instruments" %> <span>Dollhouses</span></li>
                    <li><%= image_tag 'Value-Icon/57.png', alt: "Musical Instruments" %><span>Dolls</span></li>
                    <li><%= image_tag 'Value-Icon/58.png', alt: "Musical Instruments" %><span>Civil War artifacts</span></li>
                    <li><%= image_tag 'Value-Icon/59.png', alt: "Musical Instruments" %><span>Coin Operated Machines</span></li>
                    <li><%= image_tag 'Value-Icon/60.png', alt: "Musical Instruments" %><span>Disneyana</span></li>

                  </ul>


                  <ul>
                    <li><%= image_tag 'Value-Icon/61.png', alt: "Musical Instruments" %> <span>Movie Memorbillia</span></li>
                    <li><%= image_tag 'Value-Icon/62.png', alt: "Musical Instruments" %><span>Nautical</span></li>
                    <li><%= image_tag 'Value-Icon/63.png', alt: "Musical Instruments" %><span>Paganism</span></li>
                    <li><%= image_tag 'Value-Icon/64.png', alt: "Musical Instruments" %><span>Pens and Pencils</span></li>
                    <li><%= image_tag 'Value-Icon/65.png', alt: "Musical Instruments" %><span>Edged Weapons</span></li>
                  </ul>

                  <ul>
                    <li><%= image_tag 'Value-Icon/66.png', alt: "Musical Instruments" %> <span>Soft Drink Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/67.png', alt: "Musical Instruments" %>><span>Posters</span></li>
                    <li><%= image_tag 'Value-Icon/68.png', alt: "Musical Instruments" %><span>Transportation Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/69.png', alt: "Musical Instruments" %><span>Travel Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/70.png', alt: "Musical Instruments" %><span>Scientific Instruments </span></li>
                  </ul>
                  <ul>
                    <li><%= image_tag 'Value-Icon/71.png', alt: "Musical Instruments" %> <span>Autographs</span></li>
                    <li><%= image_tag 'Value-Icon/72.png', alt: "Musical Instruments" %><span>Bicycles</span></li>
                    <li><%= image_tag 'Value-Icon/73.png', alt: "Musical Instruments" %><span>Boy Scout</span></li>
                    <li><%= image_tag 'Value-Icon/74.png', alt: "Musical Instruments" %><span>Breweriana</span></li>
                    <li><%= image_tag 'Value-Icon/75.png', alt: "Musical Instruments" %><span>Buttons</span></li>

                  </ul>

                  <ul>
                    <li><%= image_tag 'Value-Icon/76.png', alt: "Musical Instruments" %> <span>Cars and Trucks</span></li>
                    <li><%= image_tag 'Value-Icon/77.png', alt: "Musical Instruments" %><span>Doll Houses</span></li>
                    <li><%= image_tag 'Value-Icon/78.png', alt: "Musical Instruments" %><span>Exonumia</span></li>
                    <li><%= image_tag 'Value-Icon/79.png', alt: "Musical Instruments" %><span>Firearms</span></li>
                    <li><%= image_tag 'Value-Icon/80.png', alt: "Musical Instruments" %><span>Firefighting Collectibles</span></li>
                  </ul>
                  <ul>
                    <li><%= image_tag 'Value-Icon/81.png', alt: "Musical Instruments" %> <span>Gas Station Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/82.png', alt: "Musical Instruments" %><span>Judaica</span></li>
                    <li><%= image_tag 'Value-Icon/83.png', alt: "Musical Instruments" %><span>Lamps & lighting</span></li>
                    <li><%= image_tag 'Value-Icon/84.png', alt: "Musical Instruments" %><span>Locks and Keys</span></li>
                    <li><%= image_tag 'Value-Icon/85.png', alt: "Musical Instruments" %><span>Furniture</span></li>
                  </ul>
                  <ul>
                    <li><%= image_tag 'Value-Icon/86.png', alt: "Musical Instruments" %> <span>Magicians Paraphernalia</span></li>
                    <li><%= image_tag 'Value-Icon/87.png', alt: "Musical Instruments" %><span>Maps and Charts</span></li>
                    <li><%= image_tag 'Value-Icon/88.png', alt: "Musical Instruments" %><span>Medical, dental & pharmaceutical</span></li>
                    <li><%= image_tag 'Value-Icon/89.png', alt: "Musical Instruments" %><span>Militaria</span></li>
                    <li><%= image_tag 'Value-Icon/90.png', alt: "Musical Instruments" %><span>Western Americana</span></li>
                  </ul>
                  <ul>
                    <li><%= image_tag 'Value-Icon/91.png', alt: "Musical Instruments" %> <span>Architectural antiques</span></li>
                    <li><%= image_tag 'Value-Icon/92.png', alt: "Musical Instruments" %><span>Animation Art</span></li>
                    <li><%= image_tag 'Value-Icon/93.png', alt: "Musical Instruments" %><span>Clocks</span></li>
                    <li><%= image_tag 'Value-Icon/94.png', alt: "Musical Instruments" %><span>Ethnic Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/95.png', alt: "Musical Instruments" %><span>Folk Art</span></li>

                  </ul>


                  <ul>
                    <li><%= image_tag 'Value-Icon/96.png', alt: "Musical Instruments" %> <span>Girl Scout</span></li>
                    <li><%= image_tag 'Value-Icon/97.png', alt: "Musical Instruments" %><span>Glassware</span></li>
                    <li><%= image_tag 'Value-Icon/98.png', alt: "Musical Instruments" %><span>Holliday Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/99.png', alt: "Musical Instruments" %><span>Inuit & Northwest Coast Natives</span></li>
                    <li><%= image_tag 'Value-Icon/100.png', alt: "Musical Instruments" %><span>Native American</span></li>

                  </ul>


                  <ul>
                    <li><%= image_tag 'Value-Icon/101.png', alt: "Musical Instruments" %> <span>Office Equipment</span></li>
                    <li><%= image_tag 'Value-Icon/102.png', alt: "Musical Instruments" %><span>Police Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/103.png', alt: "Musical Instruments" %><span>Rail Road Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/104.png', alt: "Musical Instruments" %><span>Shaving Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/105.png', alt: "Musical Instruments" %><span>Soft Drink Collectibles</span></li>
                    <li><%= image_tag 'Value-Icon/107.png', alt: "Musical Instruments" %><span>Kitchen Collectibles</span></li>
                    <div class="clear"></div>
                  </ul>
                </div>
                <div class="pager">
                  <ul>

                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">last</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blu">
            <h2>It's quick and easy to
              get an appraisal...</h2>
            <div class="step-1">
              <p>1. Upload your photos with any
                information you have.</p>
              <%= image_tag 'laptop.png', alt: "laptop" %>
            </div>

            <div class="step-1">
              <p>2. Your appraisal gets sent to
                an expert appraiser on our team.</p>
              <%= image_tag 'gtr.png', alt: "gtr" %>
            </div>

            <div class="step-1">
              <p>3. Receive a 100% USPAP
                compliant appraisal report in
                as little as 48 hours.</p>
              <%= image_tag 'app.png', alt: "laptop" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>